<template id="novos-classicos-template-header">

    <nav class="welcome-bar hidden-xs">
      <vtex.cmc:welcomeMessage class="welcome" />
      <ul class="help-menu text-right list-inline">
          <li class="link-sobre"><a href="/institucional/quem-somos">Sobre Nós</a></li>
          <li class="link-help"><a href="/institucional/ajuda">Ajuda?</a></li>
          <li class="televendas-topo"><span>Televendas: <strong><vtex.cmc:telefone /></strong></span></li>
      </ul>
    </nav>
    <section>

    </section>

</template>
