footer {
  .footer-top {
    > div { //content
      display: flex;
      > div { //.email .lojas .redes-sociais
        display: flex;
        > * { //.titulo .botoes
          display: flex;
          align-items: center;
          > div, input, button { //input buttonn
            height: 44px;
          }
          li, button {
            height: 44px;
            width: 44px;
          }
        }
        .botao {
          border: 1px solid black;
        }
      }
    }
    input {
      border: 1px solid var(--color-medium-gray);
    }
  }
}

@media screen and (min-width: 741px) {

}

@media screen and (max-width: 740px) {

}
