// não descobri como usar as variáveis
@m-desktop: 741px;
@m-mobile: 740px;

:root {
  --color-active: #E6013C;
  --color-medium-gray: #bebebe;
}


@font-face {
  font-family: font-arezzo;
  src: url(arquivos/font/arezzo.woff);
  // src: url(arquivos/font/arz-vendor.min.css);
}

@font-face {
  font-family: font-slick;
  src: url(arquivos/font/slick.woff);
  // src: url(arquivos/font/arz-main.min.css);
}

@font-face {
  font-family: font-normal;
  src: url(arquivos/font/2EAA4B_0_0.woff2);
}

@font-face {
  font-family: font-bold;
  src: url(arquivos/font/2EAA4B_1_0.woff2);
}
