// não descobri como usar as variáveis
@m-desktop: 741px;
@m-mobile: 740px;

@font-face {
  font-family: font-arezzo;
  src: url(font/arezzo.woff);
}

@font-face {
  font-family: font-slick;
  src: url(font/slick.woff);
}

@font-face {
  font-family: font-normal;
  src: url(font/2EAA4B_0_0.woff2);
}

@font-face {
  font-family: font-bold;
  src: url(font/2EAA4B_1_0.woff2);
}
