<div id="extra-footer-top">
  <footer>
    <div class="footer-top">
      <div class="content">
        <div class="email">
          <div class="titulo">
            <span>Fique por dentro das novidades</span>
          </div>
          <form action="">
            <input type="text" placeholder="Inform seu Email" />
            <button class="botao" ><i class="simbolo"></i></button>
          </form>
        </div>
        <div class="lojas">
          <div class="titulo">
            <span>Localizador de lojas</span>
          </div>
          <div>
            <div class="botao">
              <a href="">
                <span><strong>Encontre a loja mais próxima</strong></span>
                <span><i class="simbolo"></i></span>
              </a>
            </div>
          </div>
        </div>
        <div class="redes-sociais">
          <div class="titulo">
            <span>Arezzo nas redes sociais</span>
          </div>
          <div>
            <ul class="botao">
              <li class="facebook"><a href=""><i class="simbolo facebook"></i></a></li>
              <li class="twitter"><a href=""><i class="simbolo twitter"></i></a></li>
              <li class="instagram"><a href=""><i class="simbolo instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="content">
        <li><a href="">Sobre a Arezzo</a></li>
        <li><a href="">Mundo Arezzo</a></li>
        <li><a href="">Atendimento</a></li>
        <li><a href="">Termos e Políticas</a></li>
        <li><a href="">Franquias e Multimarcas</a></li>
        <li><a href="">RI Arezzo&Co</a></li>
        <li><a href="">Carreira</a></li>
      </ul>
    </div>
    <div class="copyright">
      <div class="content">
        © 0000 - 0000, Aaaaaa. Todos os direitos reservados.Zzzz Comércio de Calçados Ltda. | Rod Governador Mario Ccccc, 3255, Armz 01 Sala 210. Bairro Padre Mathias, Cariacica. ES CEP: 00000-000 | CNPJ: 00.000.000/0000-00 | Telefone: (00) 0000-0000
      </div>
    </div>
  </footer>
</div>
