<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <!-- scripts carregados automaticamente -->
  <meta name="country" content="BRA">
  <meta name="currency" content="R$">
  <script type="text/javascript" language="javascript">
    vtxctx = {
      searchTerm: "jomarloja",
      isOrder: "0",
      isCheck: "0",
      isCart: "0",
      actionType: "",
      actionValue: "",
      login: "10606d42-a81d-43d2-a3cd-95b4a472e4aa",
      url: "cwi.vtexcommercestable.com.br",
      transurl: "cwi.vtexcommercestable.com.br"
    };
  </script>
  <script language="javascript" src="../../arquivos/js/mdetect.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/mdetect2.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/jquery-1.8.3.min.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/swfobject.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex.ajax.wait.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex.common.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex-i18n.min.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex-utils.min.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/dust-core-2.3.5.min.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/rc.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex.tagmanager.helper.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex-events-all.min.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex-analytics.js.download" type="text/javascript"></script>
  <script language="javascript" src="../../arquivos/js/vtex.min.js.download" type="text/javascript"></script>

  <!-- <vtex:metaTags/> -->
  <meta name="description" content="Adicionar aqui uma boa descrição da sua loja virtual. Esta descrição será mostrada nos resultados de busca do Google.">
  <meta name="Abstract" content="cwi">
  <meta name="author" content="cwi">
  <meta name="copyright" content="cwi">
  <meta name="vtex-version" content="1.4.796.1438">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Modelo Vtex</title>
  <script async="" src="./Modelo Vtex_files/analytics.js.download"></script>
  <script type="text/javascript" language="javascript">
    var jscheckoutUrl = 'https://cwi.vtexcommercestable.com.br/checkout/#/cart';
    var jscheckoutAddUrl = 'https://cwi.vtexcommercestable.com.br/checkout/cart/add';
    var jscheckoutGiftListId = '';
    var jsnomeSite = 'cwi';
    var jsnomeLoja = 'cwi';
    var jssalesChannel = '1';
    var defaultStoreCurrency = 'R$';
    var localeInfo = {
      "CountryCode": "BRA",
      "CultureCode": "pt-BR",
      "CurrencyLocale": {
        "RegionDisplayName": "Brazil",
        "RegionName": "BR",
        "RegionNativeName": "Brasil",
        "TwoLetterIsoRegionName": "BR",
        "CurrencyEnglishName": "Real",
        "CurrencyNativeName": "Real",
        "CurrencySymbol": "R$",
        "ISOCurrencySymbol": "BRL",
        "Locale": 1046,
        "Format": {
          "CurrencyDecimalDigits": 2,
          "CurrencyDecimalSeparator": ",",
          "CurrencyGroupSeparator": ".",
          "CurrencyGroupSize": 3,
          "StartsWithCurrencySymbol": true
        },
        "FlagUrl": "http://www.geonames.org/flags/x/br.gif"
      }
    };
  </script>

  <title>NOME DA PÁGINA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

  <!-- commonStyles -->
  <!-- <vtex:template id="commonStyles" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link href="../../arquivos/css/commonStyles/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <!-- <link href="../../arquivos/css/commonStyles/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
  <link href="../../arquivos/css/commonStyles/owl.carousel.css" rel="stylesheet" type="text/css" />
  <!-- <link href="../../arquivos/css/commonStyles/style.css" rel="stylesheet" type="text/css" /> -->

  <link rel="stylesheet" href="../../../build/arquivos/main.css">
  <script src="https://use.fontawesome.com/4085f1f339.js"></script>
</head>

<body class="body-prat">
  <div class="container">
    <div class="borda">
      <div class="owl">
        <div class="item">
          <img class="product-image" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h74/h57/h00/h00/8988149612574/1076500040002U-01-BASEIMAGE-Lores.jpg"
            id="product-1076500040002U" alt="Espadrille Suede Bordado Étnico Nude Vintage">
          <span class="product-title">Espadrille Suede Bordado Étnico Nude Vintage</span>
          <span class="product-price">R$319,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
          <span>Comprar</span>
        </a>
        </div>
        <div class="item">
          <img class="product-image" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/hdd/h7d/h00/h00/8988125626398/0259800990001U-01-BASEIMAGE-Lores.jpg"
            id="product-0259800990001U" alt="Sandália Nobuck Nó Blue Bird">
          <span class="product-title">Sandália Nobuck Nó Blue Bird</span>
          <span class="product-price">R$279,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
          <span>Comprar</span>
        </a>
        </div>
        <div class="item">
          <img class="product-image" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/hf2/h24/h00/h00/8988202565662/0182008010001U-01-BASEIMAGE-Lores.jpg"
            id="product-0182008010001U" alt="Sandália Multi Havanna">
          <span class="product-title">Sandália Multi Havanna</span>
          <span class="product-price">R$279,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h00/hff/h00/h00/8989120266270/0443101010003U-01-BASEIMAGE-Lores.jpg"
            id="product-0443101010003U" alt="Sandália Nobuck Plataforma Fibras Cross Tango">
          <span class="product-title">Sandália Nobuck Plataforma Fibras Cross Tango</span>
          <span class="product-price">R$279,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/hce/h07/h00/h00/8985903169566/1077200070002U-01-BASEIMAGE-Lores.jpg"
            id="product-1077200070002U" alt="Espadrille Suede Tornozeleira Mel">
          <span class="product-title">Espadrille Suede Tornozeleira Mel</span>
          <span class="product-price">R$299,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" id="product-0446901790002U" alt="Espadrille Ponteira Lace Up Lady Pink" class="" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h7a/h18/h00/h00/8989171908638/0446901790002U-01-BASEIMAGE-Lores.jpg"
            style="opacity: 1;">
          <span class="product-title">Espadrille Ponteira Lace Up Lady Pink</span>
          <span class="product-price">R$229,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" id="product-1073500060001U" alt="Chinelo Suede Nó Blue Bird" class="" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h1e/ha0/h00/h00/8988093579294/1073500060001U-01-BASEIMAGE-Lores.jpg"
            style="opacity: 1;">
          <span class="product-title">Chinelo Suede Nó Blue Bird</span>
          <span class="product-price">R$239,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" id="product-1081600020003U" alt="Rasteira Nobuck Tiny Bow Rústica Lady Pink" class="" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h42/h13/h00/h00/8985720651806/1081600020003U-01-BASEIMAGE-Lores.jpg"
            style="opacity: 1;">
          <span class="product-title">Rasteira Nobuck Tiny Bow Rústica Lady Pink</span>
          <span class="arz-product-price">R$199,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
        <div class="item">
          <img class="product-image" id="product-0448503850002U" alt="Rasteira Nobuck Minimal Tango" class="" src="https://secure-static.arezzo.com.br/medias/sys_master/arezzo/h9a/h71/h00/h00/8986854621214/0448503850002U-01-BASEIMAGE-Lores.jpg"
            style="opacity: 1;">
          <span class="product-title">Rasteira Nobuck Minimal Tango</span>
          <span class="product-price">R$159,90</span>
          <a href="/sapatos/sandalias/sandalia-nobuck-no-blue-bird/p/0259800990001U" class="button-buy" tabindex="0">
            <span>Comprar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- scripts carregados automaticamente -->
<script language="javascript" src="../../arquivos/js/Track.js.download" type="text/javascript"></script>
<script language="javascript" src="../../arquivos/js/thickbox.js.download" type="text/javascript"></script>
<script language="javascript" src="../../arquivos/js/json2.js.download" type="text/javascript"></script>
<script language="javascript" src="../../arquivos/js/vtex.viewPart.CallCenterDisclaimer.js.download" type="text/javascript"></script>
<script language="javascript" src="../../arquivos/js/vtex.viewPart.ajaxLoader_V2.js.download" type="text/javascript"></script>


<!-- commonScripts -->
<!-- <vtex:template id="commonScripts" /> -->
<script src="../../arquivos/js/commonScripts/bootstrap.js.download?u=1"></script>
<script src="../../arquivos/js/commonScripts/pace.min.js.download"></script>
<script src="../../arquivos/js/commonScripts/owl.carousel.min.js.download"></script>
<script src="../../arquivos/js/commonScripts/menu-responsivo.js.download"></script>
<script src="../../arquivos/js/commonScripts/advanced-filter.js.download"></script>
<script src="../../arquivos/js/commonScripts/admake-mini-cart.js.download"></script>
<script src="../../arquivos/js/commonScripts/default.js.download"></script>

<script src="../../../build/arquivos/main.min.js" charset="utf-8"></script>

</html>