<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- scripts carregados automaticamente -->
    <meta name="country" content="BRA">
    <meta name="currency" content="R$">
    <script type="text/javascript" language="javascript">var jscheckoutUrl = 'https://cwi.vtexcommercestable.com.br/checkout/#/cart';var jscheckoutAddUrl = 'https://cwi.vtexcommercestable.com.br/checkout/cart/add';var jscheckoutGiftListId = '';var jsnomeSite = 'cwi';var jsnomeLoja = 'cwi';var jssalesChannel = '1';var defaultStoreCurrency = 'R$';var localeInfo = {"CountryCode":"BRA","CultureCode":"pt-BR","CurrencyLocale":{"RegionDisplayName":"Brazil","RegionName":"BR","RegionNativeName":"Brasil","TwoLetterIsoRegionName":"BR","CurrencyEnglishName":"Real","CurrencyNativeName":"Real","CurrencySymbol":"R$","ISOCurrencySymbol":"BRL","Locale":1046,"Format":{"CurrencyDecimalDigits":2,"CurrencyDecimalSeparator":",","CurrencyGroupSeparator":".","CurrencyGroupSize":3,"StartsWithCurrencySymbol":true},"FlagUrl":"http://www.geonames.org/flags/x/br.gif"}};</script>
    <script type="text/javascript" language="javascript">vtxctx = {searchTerm:"vtextutorial",isOrder:"0",isCheck:"0",isCart:"0",actionType:"",actionValue:"",login:"10606d42-a81d-43d2-a3cd-95b4a472e4aa",url:"cwi.vtexcommercestable.com.br",transurl:"cwi.vtexcommercestable.com.br"};</script> 
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/mobile/mdetect.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/mobile/mdetect2.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/front-libs/jquery/1.8.3/jquery-1.8.3.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.ajax.wait.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.common.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/front-libs/front-i18n/0.4.1/vtex-i18n.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/front-libs/front-utils/1.0.1/vtex-utils.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/front-libs/dustjs-linkedin/2.3.5/dust-core-2.3.5.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://dmx56ht1p4edz.cloudfront.net/rc.js?an=cwi?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.tagmanager.helper.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/portal-ui/1.10.0/scripts/vtex-events-all.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/portal-ui/1.10.0/scripts/vtex-analytics.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/vtex.js/2.8.0/vtex.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/jquery.ui.core.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/autocomplete/jquery.ui.widget.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/autocomplete/jquery.ui.position.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/autocomplete/jquery.ui.autocomplete.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.commerce.search.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.viewPart.fullTextSearchBox.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/portal-plugins/2.9.13/js/portal-template-as-modal.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://io.vtex.com.br/portal-plugins/2.9.13/js/portal-sku-selector-with-template.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.cookie.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/jquery.pager.js?v=1.4.825.1483"  type="text/javascript"></script>
     
    <!-- Start - WebAnalyticsViewPart -->
    <script> var defaultUtmFromFolder = '';</script>
    <!-- <vtex:metaTags/> -->
    <meta name="description" content="Adicionar aqui uma boa descrição da sua loja virtual. Esta descrição será mostrada nos resultados de busca do Google.">
    <meta name="Abstract" content="cwi">
    <meta name="author" content="cwi">
    <meta name="copyright" content="cwi">
    <meta name="vtex-version" content="1.4.796.1438">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title> Modelo Vtex</title>           

    <title>NOME DA PÁGINA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />    
    <link rel="stylesheet" href="http://cwi.vteximg.com.br/arquivos/jquery-ui.min.css" />
    <link href="http://cwi.vteximg.com.br/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../../arquivos/main.css">  

    <script language="javascript">var ___scriptPathTransac = '';</script>
    <script language="javascript">var ___scriptPath = '';</script>    
      
  </head>
  <body id="test-page" class="VtexTutorial">




    
    
    




    <!-- seu codigo aqui -->
      <div class="produto-apresentacao">
        <div class="content">
          <section class="rota">
            <ul>
              <li>Home</li>
              <li>Sapatos</li>
              <li>Sandálias</li>
              <li>Sandália Multi Havana</li>
            </ul>
          </section>
          <section class="imagens">
            <div class="carrossel-produto-2">

            </div>
            <div class="carrossel-produto-3">

            </div>
          </section>
          <section class="compra">
            <div class="nome-preco">
              <h2 class="nome">Sandália Multi Havanna</h2> <!-- trocar por tag  -->
              <p class="preco">R$279,90 <span>(5x de <span class="bold">R$55,98</span>)</span></p> <!-- trocar por tag  -->
              <p class="mensagem">Consulte o prazo de entrega no carrinho de compras.</p>
            </div>
            <div class="estacao">
              <h3>VERÃO 2018</h3> <!-- trocar por frase  -->
            </div>
            <div class="filtro-sku">
              <div class="selecione">Selecione seu tamanho</div>
              <div class="guia">Guia de tamanhos</div>
              <ul>
                <li>33</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </section>          
        </div>
      </div>
      <div class="produto-dados">
        <section class="descricao">

        </section>
        <section class="caracteristicas">

        </section>
        <section class="outros">

        </section>
      </div>
    <!-- seu codigo aqui -->












    <!-- scripts carregados automaticamente -->  
    <!-- <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/Track.js?v=1.4.825.1483"  type="text/javascript"></script> -->
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/thickbox.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/json2.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.viewPart.CallCenterDisclaimer.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.viewPart.ajaxLoader_V2.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.commerce.batchbuy.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.jsevents.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.skuEvents.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.skuEvents.skuDataFetcher.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/jquery.livequery.min.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/prettyPhoto/js/jquery.prettyPhoto.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/prettyPhoto/js/lean-prettyPhoto.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/vtex.commerce.Compare.js?v=1.4.825.1483"  type="text/javascript"></script>
    <script language="javascript" src="http://cwi.vteximg.com.br/Scripts/mobile/vtex.make.mobile.pager.js?v=1.4.825.1483"  type="text/javascript"></script>
  </body>
   
  <!-- commonScripts -->
  <!-- <vtex:template id="commonScripts" /> -->
  <script src="http://cwi.vteximg.com.br/arquivos/bootstrap.js?u=1"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/pace.min.js"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/owl.carousel.min.js"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/menu-responsivo.js"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/advanced-filter.js"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/admake-mini-cart.js"></script>
  <script src="http://cwi.vteximg.com.br/arquivos/default.js"></script>
  
  <script src="../../arquivos/main.min.js" charset="utf-8"></script> 
  
</html>